
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome to Services Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>Welcome to Services Page</h1>
              
                <div class="alert alert-info">
                    <strong>Mobile Services</strong>
                </div>
                <div class="alert alert-success">
                    <strong>Microwave Services</strong>
                </div>
                <div class="alert alert-info">
                    <strong>Tv Services</strong>
                </div>
                <div class="alert alert-success">
                    <strong>Laptop Services</strong>
                </div>
                <div>
                    @Html.ActionLink("Go To Products", "Product", "Products")
                </div>
              <div>
                  @Html.ActionLink("Go Back to Home", "Index", "Home")
              </div>
               
            </div>
        </div>
    </body>
</html>
